<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
   <button ion-button block item-right (click)="takePicture()">Galeria<ion-icon name="camera"></ion-icon></button>
  </p>

  <p>
    <button ion-button block item-right (click)="teste()">Teste</button>
   </p>
</ion-content>